{% extends 'base.html' %}
{% load static %}

{% block title %} SiGN UP {% endblock title %}


{% block content %}

<!-- style -->
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    
<div class="container-fluid p-5">
        <div class="row">
            <div class="col-md-3"> </div><!--first grid-->
            <div class="col-md-6 p-5 bg-dark text-light text-center">
                <h3> Sign Up</h3>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group"><!--inside form goup 2 div for label and form field-->
                        <div><!--1st div-->
                            {{field.label_tag}}
                        </div>
                        <div><!--2nd div-->
                            {{field}}
                        </div>
                        {% if field.help_text %}<!--text below the field-->
                            <small style="color:grey">{{ field.help_text}}</small>
                        {% endif %} 
                    </div>
                    {% endfor %}
                    <div>
                    {% for error in form.errors %}
                        <small style='color:red'>{{ error }}</small>
                    {% endfor %}
                    </div>
                    <button type="submit" class="btn-info">Submit </button>
                </form>
            </div>
            <div class="col-md-3">

            </div>

            
        </div>
    
    </div>
    


{%  endblock %}